services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: artificial_qi_backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - postgres
    networks:
      - shared_network
    environment:
      - DATABASE_URL=postgresql://admin:admin@postgres:5432/Artificial_QI

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    container_name: artificial_qi_frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - shared_network

  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: Artificial_QI
    ports:
      - "5432:5432"
    volumes:
      - ./db_data:/var/lib/postgresql/data
    networks:
      - shared_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - ./pgadmin_data:/var/lib/pgadmin
    networks:
      - shared_network

networks:
  shared_network:
    driver: bridge
