# Per specificare la versione di un pacchetto si può usare ==, >, >=, <, <=
# Per specificare una versione di python, usare come interprete di partenza quello della versione richiesta
pytest == 8.3.5
pytest-cov == 6.0.0
pytest-xdist == 3.6.1
Flask == 3.1.0
Flask-SQLAlchemy == 3.1.1
coverage == 7.7.0
radon == 4.1.0
xenon >= 0.9.3
dependency-injector == 4.46.0
psycopg2 == 2.9.10
sacrebleu >= 2.5.0
rouge-score >= 0.1.0
bert-score >= 0.3.10
sentence-transformers >= 4.0.0
pandas == 2.2.3
joblib >= 1.4.0
flask-cors == 4.0.0
transformers == 4.50.3
waitress == 3.0.2
hf-xet == 1.0.3