* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* justify-content: center; */
    color: #333;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    line-height: 1.5em;
}

header {
    text-align: center;
    margin-bottom: 40px;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
}

header h1 {
    padding-top: 0.5em;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}

main p {
    font-size: 1.1rem;
    color: #363131;
    margin-bottom: 1em;
}

.github-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #24292e;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.github-button:hover {
    background-color: #333;
}

main {
    flex: 1;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.documentation-links {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    /* border: 2px solid #333; /* Colore e spessore del bordo */
    /* border-radius: 15px; /* Angoli arrotondati */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra per un effetto di profondità */
    text-align: left;
}

.documentation-links h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
}

.documentation-links h3 {
    font-size: 1.4rem;
    color: #333;
}

.documentation-links ul {
    list-style-image: url(/immagini/double-arrows_16x16.png);
}

.documentation-links li {
    margin: 2em;
    margin-left: 2.5em;
}

.documentation-links li a {
    color: #0070f3;
    font-size: 1.2rem;
    text-decoration: none;
}

.documentation-links li a:hover {
    color: #005bb5;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    color: #666;
    margin-top: 40px;
}

img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
