# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Artificial QI - Rod2Cod
email: rod2cod@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Qui di seguito verranno forniti vari link alla documentazione 
  riguardante il progetto di Ingegneria del Software: [Artificial QI](https://www.math.unipd.it/~tullio/IS-1/2024/Progetto/C1.pdf){:target="_blank"}, proposto dall'azienda Zucchetti 
  e preso in carico dal nostro gruppo.
baseurl: "/SWE" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com

github_username: rod2cod

# Build settings
remote_theme: pages-themes/slate@v0.2.0
#theme: minima

plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-seo-tag
  - jekyll-github-metadata
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#

#exclude:
  # rimuovo dalla visualizzazione i file deprecati
  # - Documentazione/*/Deprecated
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
